[submodule "themes/pelican-blue"]
	path = themes/pelican-blue
	url = https://github.com/Parbhat/pelican-blue.git
[submodule "themes/pelican-fh5co-marble"]
	path = themes/pelican-fh5co-marble
	url = https://github.com/claudio-walser/pelican-fh5co-marble.git
[submodule "themes/Flex"]
	path = themes/Flex
	url = https://github.com/alexandrevicenzi/Flex.git
[submodule "themes/pelican-sober"]
	path = themes/pelican-sober
	url = https://github.com/fle/pelican-sober
[submodule "themes/pelican-themes"]
	path = themes/pelican-themes
	url = https://github.com/getpelican/pelican-themes/
[submodule "themes/pelican-bold"]
	path = themes/pelican-bold
	url = https://github.com/demianbrecht/pelican-bold
[submodule "themes/pelican-mg"]
	path = themes/pelican-mg
	url = https://github.com/lucachr/pelican-mg.git
